@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}

/* scrollbar hiding */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;       
}

/* For Internet Explorer & Edge (older versions) */
* {
  -ms-overflow-style: none;    
}


/* disco lights animation */
@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 3px rgb(235, 5, 5);
  }

  20% {
    box-shadow: 0px 0px 10px 3px rgb(0, 255, 255);
  }

  40% {
    box-shadow: 0px 0px 10px 3px rgb(65, 12, 241);
  }

  60% {
    box-shadow: 0px 0px 10px 3px rgb(4, 228, 60);
  }

  80% {
    box-shadow: 0px 0px 10px 3px rgb(255, 255, 50);
  }

  100% {
    box-shadow: 0px 0px 10px 3px rgb(247, 12, 251);
  }
}

#redbox {
  animation-name: glow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

#typingeffect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white; /* typing cursor */
  animation: typing 3s steps(30, end) forwards, blink 0.75s step-end infinite;
}


/* image spinning 2 colors */

@keyframes spin-border {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-border {
  animation: spin-border 4s linear infinite;
  border-radius: 1rem;
  padding: 5px;
  mask-image: linear-gradient(black, black);
  mask-composite: exclude;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}


/* new contact animation  */


@property --a {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}



.gradient-shadow {
  position: relative;
  filter: url(#glow);
}

.gradient-shadow::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #333333;
  border-radius: inherit;
  z-index: 1;
}

.gradient-shadow::after {
  content: '';
  position: absolute;
  inset: -5px;
  background: 
    repeating-conic-gradient(from var(--a, 0deg), 
           rgba(255, 0, 70, 0.5) 0% 25%, 
            transparent 25% 50%, 
           rgba(0, 180, 255, 0.5) 50% 75%,
            transparent 75% 100%);
  border-radius: inherit;
  z-index: -1;
  filter: blur(15px);
  animation: rotateGradient 4s linear infinite;
}

.gradient-shadow > * {
  position: relative;
  z-index: 2;
}

@keyframes rotateGradient { 
  to { --a: 360deg; } 
}


/* projects scrolling  */

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}
